{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="topSearch">
        <h2 id='h2onSearch'>Группа {{ selected_group }}</h2>
    </div>
    <div class="tableOnSearch">
        <table id="table-id">
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Группа</th>
                <th>Средний балл</th>
                <th>Рейтинг</th>
            </tr>
            <tbody>
                {% if table_content %}
                {% for content in table_content %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                    {% for cont in content %}
                        <td>{{ cont }}</td>
                    {% endfor %}   
                    </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}