<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            font-weight: 100;
        }

        h2 {
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
        }
        
        h3 {
            text-align: left;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            font-weight: 100;
        }

        h4 {
            text-align: center;
            font-size: 10px;
        }

        table {
            margin: 0px;
            border-collapse: collapse;
            width: 1000px;
        }
        
        td {
            font-size: 20px;
            border: 1px solid black;
        }
        
        tr#topContent th {
            word-wrap: break-word;
            height: 10px;
        
            border: 1px solid black;
        }
        
        tr#number {
            text-align: center;
            height: 100px;
        }
    </style>
    <title>Ведомость</title>
</head>
<body>
    <h1>Учреждение образования</h1>
    <h1>”Полесский государственный университет“</h1>
        
    
    <h2>ВЕДОМОСТЬ</h2>
    <h2>контроля текущей успеваемости по дисциплине № ______</h2>
    <h3>Факультет Инженерный</h3>
    <h3>Специальность Информационные системы и технологии (по направлениям)</h3>
    <h3>Курс   4    Группа    16ИТ-1</h3>
    <h3>Наименование дисциплины ________________</h3>
    <h3>Преподаватель ___________</h3>
    <h3>Дата заполнения ведомости  __________________________________________</h3>

    <table> 
        <tr id="topContent">
            <th rowspan="2">№ п/п</th>
            <th rowspan="2">Фамилия, инициалы обучающегося</th>
            <th colspan="4">Оценка по формам текущего контроля</th>
            <th rowspan="2">Отметка контроля текущей успеваемости </th>
            <th rowspan="2">Подпись преподавателя(ей) и дата</th>
        </tr>
        <tr id='number'>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Волкунович Ю. М.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Гайшун Д. О.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Галах Е. К.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Галуза И. В.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Германович А. Г.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Грицук А. В.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Гуринович В. В.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Дашкевич В. И.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>9</td>
            <td>Зборовский В. Р.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10</td>
            <td>Калинина Я. П.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Карпук А. С.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>12</td>
            <td>Коваль В. Г.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>13</td>
            <td>Копищик В.А.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>14</td>
            <td>Кохович Л.А</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>15</td>
            <td>Лопатин Е.А.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>16</td>
            <td>Лунёв Р.А.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>17</td>
            <td>Макарчик А.С.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>18</td>
            <td>Максимюк А.С.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>19</td>
            <td>Марченко В.В.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>20</td>
            <td>Матвеюк А.В.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>21</td>
            <td>Наумович М.В.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>22</td>
            <td>Панасик Р.А.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>    
        <tr>
            <td>23</td>
            <td>Пашкевич В.Н.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <h1>Заведующий кафедрой      _________________________   М.А. Романова</h1>
    <h4>                     (подпись)</h4>
</body>
</html>